.loadingCard {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .05);
  display: flex;

  &__info {
    border-bottom: 1px solid #EEEEEE;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
    padding: 0 16px 0;
  }

  &__price {
    height: 24px;
  }

  &__image {
    height: 100px;
    width: 100px;
  }

  p {
    height: 14px;
  }

  &__image,
  &__price,
  p {
    animation: 1.5s shine linear infinite;
    background: #eee;
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

@media only screen and (min-width: 481px) {
  .loadingCard {
    display: block;

    &__info {
      border-bottom: 0;
      border-right: 1px solid #EEEEEE;
      display: block;
      padding: 24px 8px 8px ;
      text-align: center;
    }

    &__image {
      height: 200px;
      width: 100%;
    }
  }
}
